@import 'src/assets/styles/abstract/variables';
@import 'src/assets/styles/abstract/mixins';

.form {
  display: grid;
  grid-gap: $spacing-xxs;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'convertInput convertInput'
    'convertButton convertButton'
    'convertOutput convertOutput'
    'copyButton clearButton'
    'options options';

  @include respond-to('tablet') {
    grid-template-columns: 1fr 100px;
    grid-template-areas:
    'convertInput convertButton'
    'convertOutput copyButton'
    'options clearButton';
  }

  .convertInput {
    grid-area: convertInput;
  }

  .convertButton {
    grid-area: convertButton;
  }

  .convertOutput {
    grid-area: convertOutput;
  }

  .copyButton {
    grid-area: copyButton;
  }

  .options {
    grid-area: options;
  }

  .clearButton {
    grid-area: clearButton;
  }
}
