@import 'src/assets/styles/abstract/variables';
@import 'src/assets/styles/abstract/mixins';

.button {
  width: 100%;
  padding: $spacing-xxxs $spacing-xxs;
  @include font-styles(400, $font-size-regular, 1.4, $color-black);
  border: none;
  cursor: pointer;
  border-radius: $spacing-xxxs;
  transition: background-color .2s ease-in-out;

  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: $color-primary-hover;
  }

  &.danger {
    color: $color-white;
    background-color: $color-danger;

    &:hover {
      background-color: $color-danger-hover;
    }
  }

  &.success {
    color: $color-white;
    background-color: $color-success;

    &:hover {
      background-color: $color-success-hover;
    }
  }
}
